<div id="<%= dom_id trip %>">
  <p>
    <strong>Vehicle:</strong>
    <%= trip.vehicle_id %>
  </p>

  <p>
    <strong>Driver:</strong>
    <%= trip.driver_id %>
  </p>

  <p>
    <strong>Origin:</strong>
    <%= trip.origin %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= trip.destination %>
  </p>

  <p>
    <strong>Departure time:</strong>
    <%= trip.departure_time %>
  </p>

  <p>
    <strong>Arrival time:</strong>
    <%= trip.arrival_time %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= trip.status %>
  </p>

</div>
