<div id="<%= dom_id vehicle_model %>">
  <p>
    <strong>Make:</strong>
    <%= vehicle_model.make %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= vehicle_model.model %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= vehicle_model.category %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= vehicle_model.year %>
  </p>

  <p>
    <strong>Fuel type:</strong>
    <%= vehicle_model.fuel_type %>
  </p>

  <p>
    <strong>Transmission:</strong>
    <%= vehicle_model.transmission %>
  </p>

  <p>
    <strong>Body type:</strong>
    <%= vehicle_model.body_type %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= vehicle_model.capacity %>
  </p>

</div>
