<% content_for :header do %>
  <%= render "rui/shared/admin/nav", { header_title: "Incident" } do %>
  <div class="flex flex-wrap gap-4 mt-6">
    <%= link_to "Documents", incident_documents_path(@incident), class: "btn btn-primary" %>
    <%= link_to "Back", incidents_path, class: "btn btn-primary" %>
    <%= button_to "Destroy", @incident, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
  </div>
  <% end %>
<% end%>

<p style="color: green"><%= notice %></p>

<div class="pt-4 px-4 sm:px-6 lg:px-8">
  <%= render @incident %>
</div>

