<!-- Add your own nav links here. Below are links to the default non-admin-basedpages installed with Rails UI. -->
<% Railsui::Pages.installed_pages.each do |page, details| %>
  <% if respond_to?(details['path'].to_sym) && details['add_to_nav'] && details['namespace'] != 'admin' %>
    <%= content_tag :li do %>
      <%= nav_link_to details['title'], send(details['path'].to_sym), class: "rui-nav-link" %>
    <% end %>
  <% end %>
<% end %>

<!-- Custom Navigation Links -->
<li>
  <%= nav_link_to "Dashboard", root_path, class: "rui-nav-link" %>
</li>
<li>
  <%= nav_link_to "Delivery Service", delivery_requests_path, class: "rui-nav-link" %>
</li>
<li>
  <%= nav_link_to "Drivers", drivers_path, class: "rui-nav-link" %>
</li>
<li>
  <%= nav_link_to "Vehicles", vehicles_path, class: "rui-nav-link" %>
</li>
<li>
  <%= nav_link_to "Fleet Providers", fleet_providers_path, class: "rui-nav-link" %>
</li>
<li>
  <%= nav_link_to "Marketplace", marketplace_path, class: "rui-nav-link" %>
</li>
