<div id="<%= dom_id fleet_provider %>">
  <p>
    <strong>Name:</strong>
    <%= fleet_provider.name %>
  </p>

  <p>
    <strong>Registration number:</strong>
    <%= fleet_provider.registration_number %>
  </p>

  <p>
    <strong>Physical address:</strong>
    <%= fleet_provider.physical_address %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= fleet_provider.phone_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= fleet_provider.email %>
  </p>

  <p>
    <strong>License status:</strong>
    <%= fleet_provider.license_status %>
  </p>

  <p>
    <strong>License expiry date:</strong>
    <%= fleet_provider.license_expiry_date %>
  </p>

</div>
