<p style="color: green"><%= notice %></p>

<%= render @fleet_provider %>

<div>
  <%= link_to "Edit this fleet provider", edit_fleet_provider_path(@fleet_provider) %> |
  <%= link_to "Back to fleet providers", fleet_providers_path %>

  <%= button_to "Destroy this fleet provider", @fleet_provider, method: :delete %>
</div>
