<%# The container tag
  - available local variables
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
    paginator:     the paginator that renders the pagination tags inside
-%>
<%= paginator.render do -%>
  <nav class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6" aria-label="Pagination">
    <div class="hidden sm:block">
      <p class="text-sm text-gray-700">
        <% if total_pages > 1 %>
          Page <span class="font-medium"><%= current_page.number %></span> of 
          <span class="font-medium"><%= total_pages %></span>
        <% end %>
      </p>
    </div>
    
    <div class="flex-1 flex justify-between sm:justify-end">
      <% if current_page.first? %>
        <span class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-500 bg-white cursor-default">
          Previous
        </span>
      <% else %>
        <%= prev_page_tag unless current_page.first? %>
      <% end %>
      
      <% if current_page.last? %>
        <span class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-500 bg-white cursor-default">
          Next
        </span>
      <% else %>
        <%= next_page_tag unless current_page.last? %>
      <% end %>
    </div>
  </nav>
  
  <% if total_pages > 1 %>
    <nav class="bg-white px-4 py-3 flex items-center justify-center border-t border-gray-200 sm:px-6" aria-label="Pagination">
      <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
        <div>
          <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
            <%= first_page_tag unless current_page.first? %>
            
            <% each_page do |page| -%>
              <% if page.display_tag? -%>
                <%= page_tag page %>
              <% elsif !page.was_truncated? -%>
                <%= gap_tag %>
              <% end -%>
            <% end -%>
            
            <%= last_page_tag unless current_page.last? %>
          </nav>
        </div>
      </div>
    </nav>
  <% end %>
<% end -%>