<div id="<%= dom_id driver %>">
  <p>
    <strong>First name:</strong>
    <%= driver.first_name %>
  </p>

  <p>
    <strong>Middle name:</strong>
    <%= driver.middle_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= driver.last_name %>
  </p>

  <p>
    <strong>License number:</strong>
    <%= driver.license_number %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= driver.phone_number %>
  </p>

  <p>
    <strong>Vehicle:</strong>
    <%= driver.vehicle_id %>
  </p>

  <p>
    <strong>Fleet provider:</strong>
    <%= driver.fleet_provider_id %>
  </p>

</div>
