<% content_for :header do %>
  <%= render "rui/shared/admin/nav", { header_title: "Drivers" } do %>
    <%= render "rui/shared/admin/create_dropdown" %>
  <% end %>
<% end%>

<p style="color: green"><%= notice %></p>

<% content_for :title, "Drivers" %>

<h1>Drivers</h1>

<div id="drivers">
  <% @drivers.each do |driver| %>
    <%= render driver %>
    <p>
      <%= link_to "Show this driver", driver %>
    </p>
  <% end %>
</div>

<%= link_to "New driver", new_driver_path %>
