<%= form_with(model: vehicle) do |form| %>
  <% if vehicle.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
        <% vehicle.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :vehicle_model_id, style: "display: block" %>
    <%= form.text_field :vehicle_model_id %>
  </div>

  <div>
    <%= form.label :registration_number, style: "display: block" %>
    <%= form.text_field :registration_number %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.label :fleet_provider_id, style: "display: block" %>
    <%= form.text_field :fleet_provider_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
