<div id="<%= dom_id vehicle %>">
  <p>
    <strong>Vehicle model:</strong>
    <%= vehicle.vehicle_model_id %>
  </p>

  <p>
    <strong>Registration number:</strong>
    <%= vehicle.registration_number %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= vehicle.status %>
  </p>

  <p>
    <strong>Fleet provider:</strong>
    <%= vehicle.fleet_provider_id %>
  </p>

</div>
