<% content_for :header do %>
  <%= render "rui/shared/admin/nav", { header_title: "Vehicles" } do %>
   
    
        <!-- Modal Trigger -->
    <div data-controller="railsui-modal">
      <button type="button" data-action="click->railsui-modal#open" class="btn btn-primary">
        New Vehicle
      </button>

      <!-- Modal Content -->
      <div aria-modal="true" role="dialog"
        class="hidden fixed inset-0 z-50 overflow-y-auto"
        data-railsui-modal-target="container"
        data-action="keyup@window->railsui-modal#closeWithEsc">
        <div class="h-screen w-full flex items-center justify-center">
          <div data-railsui-modal-target="content"
              class="hidden max-w-3xl w-full bg-white dark:bg-slate-800 p-8 rounded-lg shadow-xl relative"
              data-transition-enter-active="transition ease-out duration-300"
              data-transition-enter-from="transform opacity-0 scale-95"
              data-transition-enter-to="transform opacity-100 scale-100"
              data-transition-leave-active="transition ease-in duration-300"
              data-transition-leave-from="transform opacity-100 scale-100"
              data-transition-leave-to="transform opacity-0 scale-95">
            
            <button type="button"
              class="absolute top-2 right-2 w-8 h-8 bg-transparent hover:bg-slate-50 dark:hover:bg-slate-700 flex items-center justify-center rounded-full group"
              data-action="click->railsui-modal#close">
              <%= icon "x-mark", class: "text-slate-500 size-6" %>
            </button>

            <h2 class="text-lg font-semibold mb-4 text-slate-800 dark:text-white">New Vehicle</h2>

            <div class="pt-4">
              <%= render "form", vehicle: @vehicle %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end%>

<p style="color: green"><%= notice %></p>

<% content_for :title, "Vehicles" %>

<div class="bg-white border-b dark:bg-slate-800/50 dark:border-b dark:border-slate-700 px-4">
  <div class="container mx-auto sm:flex flex-wrap justify-between items-center">
    <nav role="messages nav">
      <ul
        class="flex items-center justify-start sm:space-x-1 py-2 text-slate-600 sm:overflow-auto overflow-y-hidden scroll-smooth snap-start scrollbar-thin scrollbar-thumb-gray-200 scrollbar-track-gray-100/50 scrollbar-thumb-rounded">
        <li class="flex justify-center items-center sm:block">
          <%= link_to "#", class: "py-2 px-4 bg-slate-50 dark:bg-slate-900 rounded-lg transition ease-in-out duration-300 text-primary-600 dark:text-primary-400 font-medium flex items-center gap-2 dark:hover:bg-slate-900/80" do %>
            <span>Active</span>
            <span class="rounded bg-primary-600 text-white px-1 py-px text-xs font-semibold">228</span>
          <% end %>
        </li>
        <li class="flex justify-center items-center sm:block">
          <%= link_to "#", class: "py-2 px-4 rounded-lg transition ease-in-out duration-300 hover:bg-slate-50 hover:text-primary-600 dark:hover:text-primary-400 font-medium flex items-center gap-2 group dark:text-slate-300 dark:hover:bg-slate-900" do %>
            <span>Inactive</span>
            <span class="rounded bg-slate-200 text-slate-500 px-1 py-px text-xs font-semibold">5</span>
          <% end %>
        </li>
      </ul>
    </nav>

    <div class="sm:flex items-center sm:space-x-4">
      <%= form_with url: vehicles_path, method: :get, local: true do |f| %>
        <label for="filter" class="sr-only">Filter</label>
        <%= f.select :sort, options_for_select(["Name", "Join Date", "License Status"], params[:sort]), {}, class: "form-select text-base" %>
      <% end %>

      <div class="relative lg:w-auto w-full lg:mt-0 md:mt-0 mt-4 sm:mt-0 lg:mb-0 mb-4">
        <%= icon "magnifying-glass", class: "size-5 text-slate-500/90 stroke-current absolute left-3 top-3" %>
        <%= form_with url: vehicles_path, method: :get, local: true do |f| %>
          <%= f.text_field :search, value: params[:search], placeholder: "Search", class: "form-input lg:w-[250px] pl-10 focus:shadow-inner" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="px-4 mb-16">
  <div class="container mx-auto rounded-lg border border-slate-300/80 shadow shadow-slate-100 dark:shadow-slate-950 mt-6 bg-white dark:bg-slate-800 dark:border-slate-600/80">
    <ul class="divide-y divide-slate-300/80 dark:divide-slate-600">
      <% if @vehicles.present? %>
        <% @vehicles.each do | vehicle | %>
          <% status = {
                    "active" => "bg-green-500",
                    "inactive" => "bg-amber-500",
                    "pending" => "bg-red-500"
                  } %>
          <!-- vehicle start -->
          <li
            class="px-4 py-5 sm:text-base text-sm items-start grid grid-cols-2 sm:grid-cols-12 gap-3 sm:gap-0 before:content-[''] before:absolute relative before:left-2 before:h-[calc(100%-30px)] before:w-2 before:rounded-full before:bottom-1 before:top-4 pl-8 before:flex before:flex-col before:items-center before:justify-center hover:bg-slate-50 transition ease-in-out duration-200 dark:hover:bg-slate-800 before:<%= status[vehicle.status] || 'bg-red-500' %>">
            <div class="flex items-center gap-3 sm:col-span-3 sm:mb-0 mb-4 col-span-2">
              <% if vehicle.logo.attached? %>
                <%= image_tag url_for(vehicle.logo), alt: vehicle.registration_number,
                    class: "rounded-full sm:size-10 size-14 object-cover bg-slate-100" %>
              <% else %>
                <% reg_number = vehicle.registration_number.to_s %>
                <div class="flex flex-col items-center justify-center bg-white text-black border border-gray-300 rounded sm:w-10 sm:h-10 w-14 h-14 shadow-inner leading-tight text-center tracking-wider"
                    style="font-family: 'Courier New', Courier, monospace; font-weight: bold;">
                  <span class="text-xs"><%= reg_number[0, 3] %></span>
                  <span class="text-xs"><%= reg_number[3..] %></span>
                </div>
              <% end %>
              <div>
                <%= link_to vehicle.vehicle_model.model, vehicle_path(vehicle), class: "sm:font-medium text-slate-900 hover:text-primary-600 sm:text-base text-lg font-semibold dark:text-slate-200" %>
                <p class="text-slate-500 text-sm"><%= vehicle.vehicle_model.model %></p>
              </div>
            </div>
            <div class="sm:col-span-2 col-span-1">
              <p><%= vehicle.registration_number %></p>
              <p class="text-sm text-slate-500">reg no</p>
            </div>
            <div class="sm:col-span-2 col-span-1">
              <p><%= vehicle.fleet_provider.name %></p>
              <p class="text-sm text-slate-500">fleet provider</p>
            </div>
            <div class="sm:col-span-2 col-span-1">
              <p><%= vehicle.vehicle_model.transmission %></p>
              <p class="text-sm text-slate-500">Expiry</p>
            </div>
            <div data-controller="railsui-dropdown" class="sm:col-span-1 relative col-span-2">
              <div class="flex justify-end">
                <button data-action="click->railsui-dropdown#toggle click@window->railsui-dropdown#hide"
                  class="-mt-1 block group p-2 rounded-lg focus:ring-4 focus:ring-primary-50 dark:focus:ring-slate-600/50">
                  <%= icon "cog-6-tooth", class: "size-6 stroke-current text-slate-500 group-hover:text-primary-600 dark:group-hover:text-primary-400" %>
                </button>
              </div>
              <ul data-railsui-dropdown-target="menu"
                class="hidden transition transform origin-to-right absolute right-0 top-10 bg-white rounded-lg shadow-xl shadow-slate-900/10 border border-slate-200 md:w-[200px] w-full z-50 py-2 dark:bg-slate-700 dark:shadow-slate-900/50 dark:border-slate-500/60 md:text-sm text-base font-medium text-slate-600 dark:text-slate-200"
                data-transition-enter-active="transition ease-out duration-300"
                data-transition-enter-from="transform opacity-0 scale-95"
                data-transition-enter-to="transform opacity-100 scale-100"
                data-transition-leave-active="transition ease-in duration-300"
                data-transition-leave-from="transform opacity-100 scale-100"
                data-transition-leave-to="transform opacity-0 scale-95">
                
                <li>
                  <%= link_to vehicle_path(vehicle), class: "px-4 py-[.4rem] hover:text-primary-600 dark:hover:text-primary-300 group flex items-center justify-start gap-3" do %>
                    <%= icon "paper-airplane", class: "stroke-current size-5 text-slate-500 group-hover:text-primary-600 dark:group-hover:text-primary-400" %>
                    <span>Show</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to edit_vehicle_path(vehicle), class: "px-4 py-[.4rem] hover:text-primary-600 dark:hover:text-primary-300 group flex items-center justify-start gap-3" do %>
                    <%= icon "pencil-square", class: "stroke-current size-5 text-slate-500 group-hover:text-primary-600 dark:group-hover:text-primary-400" %>
                    <span>Edit</span>
                  <% end %>
                </li>
              </ul>
            </div>
          </li>
          <!-- person end -->
        <% end %>
      <% end %>
    </ul>
  </div>

  <nav aria-label="Page navgiation" class="text-slate-500 sm:text-sm text-base font-medium dark:text-slate-300 mt-8 container mx-auto">
    <ul class="flex flex-wrap items-center justify-start sm:space-x-0 gap-2">
      <div class="flex items-center justify-center sm:text-sm text-lg">
        <li>
          <%= link_to "1", "#", class: "py-2 px-4 border-t-2 block border-primary-500 hover:bg-primary-50/50 text-primary-600 dark:text-primary-400 dark:border-primary-400 dark:hover:bg-primary-500/30" %>
        </li>
        <li>
          <%= link_to "2", "#", class: "py-2 px-4 block border-t-2 border-transparent rounded hover:bg-slate-50/50 dark:hover:bg-slate-500/30 dark:hover:text-slate-200" %>
        </li>
        <li>
          <%= link_to "3", "#", class: "py-2 px-4 block border-t-2 border-transparent rounded hover:bg-slate-50/50 dark:hover:bg-slate-500/30 dark:hover:text-slate-200" %>
        </li>
        <li>
          <span class="py-2 px-4 block border-t-2 border-transparent rounded pointer-events-none select-none">&hellip;</span>
        </li>
        <li>
          <%= link_to "8", "#", class: "py-2 px-4 block border-t-2 border-transparent rounded hover:bg-slate-50/50 dark:hover:bg-slate-500/30 dark:hover:text-slate-200" %>
        </li>
        <li>
          <%= link_to "9", "#", class: "py-2 px-4 block border-t-2 border-transparent rounded hover:bg-slate-50/50 dark:hover:bg-slate-500/30 dark:hover:text-slate-200" %>
        </li>
      </div>
      <li class="flex sm:justify-end items-center">
        <%= link_to "#", class: "flex justify-center items-center sm:gap-2 py-2 sm:px-4 px-2 rounded hover:bg-slate-50/50 group hover:text-primary-600 sm:bg-transparent bg-slate-200/50 dark:hover:bg-slate-500/30 dark:hover:text-slate-200" do %>
          <span class="sr-only sm:not-sr-only">Next</span>
          <%= icon "arrow-small-right", class: "sm:size-5 size-4 text-slate-600 group-hover:text-primary-500 dark:group-hover:text-slate-200 stroke-current" %>
        <% end %>
      </li>
    </ul>
  </nav>
</div>
